.header__lang-link {
    margin-top: 18px;
    margin-right: 18px;
    margin-bottom: 6px;
    color: #FFFFFF;
    text-decoration: none;
}
.header__lang-link:last-child {
    margin-right: 0;
}
.header__lang-link:hover {
    opacity: 0.8;
}

@media screen and (max-width: 767px) {
    .header__lang-link {
    margin-top: 14px;
    margin-bottom: 8px;
    }
}