.cover {
    position: relative;
    width: 1024px;
    height: 640px;
    padding-top: 92px;
    background-image: url(../../sprint-3-images/cover-trains.jpg);
    background-size: 1024px 640px;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: 1;
}